* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

body {
    background-color: darkred;
    font-family: "Spirax", sans-serif;
}

.navbar {
    background-color: rgba(26, 14, 20, .7);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25%;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-section article {
    position: absolute;
    top: 20%;
}

.header {
    text-align: center;
}

p {
    background-color: rgba(128, 18, 21, .9);
}

p.header {
    color: darkred;
    background-color: inherit;   
    font-size: 4rem;
    font-weight: 700;
}

.another-font {
    font-family: "Poiret One", sans-serif;    
}

.another-font p {
    text-align: center;
}

.another-font p,
table {
    margin: 1rem .5rem;
    padding: .5rem 1rem;
}

.another-font p:nth-of-type(1) {
    margin-right: 5rem;
}

.another-font p:nth-child(2) {
    margin-left: 5rem;
}

table {
    background-color: rgba(16, 16, 16, .9);
    margin: 0 3rem;
    width: 80%;
}

.text-to-right {
    text-align: end;
}

img {
    width: 100%;
}

#juicy {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
