* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poiret One", sans-serif;
    font-family: "Spirax", sans-serif;
    text-decoration: none;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.bg {
    width: 80%;
}

.navbar {
    background-color: rgba(31, 11, 11, 0.7);
    position: fixed;
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15%;
}

a {
    color: white;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: darkred;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
}

img {
    width: 100%;
}